*{
    box-sizing: border-box;
}
body{
background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.5)), url(../img/business-people-talking-laughing-together-business-people-talking-laughing-together-cafe-100123871.jpg);
background-size: cover;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0px;
 display: flex;

}
.container{
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.5)), url(../img/business-people-talking-laughing-together-business-people-talking-laughing-together-cafe-100123871.jpg);
background-size: cover;
padding: 5rem;
border-radius: .9rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation-duration: 5s;
    animation-name: slidein;
    }
@keyframes slidein {
from{margin-left: 100px;
    width: 300%};
    to {
        margin-left: 0%;
        width: 100%;
    }
}
ul{
    color: white;
    margin: 5px !important;
    padding: 5px !important;
}